.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 0px 0;
    top: 0;
    left: 0;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 125px;
}
.navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.navbar a:hover {

    color: gray;
    }

.navbar a.active {
    color: white;
    font-weight: 750;
    text-shadow: 0.5px 0 0 currentColor;
}

.content {
    margin-top: 120px;
}

.content-home {
    margin-top: 175px;
}

.logo {
    height: 70px;
}

.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 15px;
}

.column {
    flex-basis: 48%;
}

.text-column {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    height: 100%;
}

.image-column {
    text-align: center;
}

.home-img {
    max-width: 40%;
    height: auto;
    margin-right: 300px;
}

.centered-text {
    max-width: 500px;
    padding: 10px;
}

.top-half {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.portfolio-blurb {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    max-width: 400px;
    padding: 0%;
}