.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 0px 0;
    top: 0;
    left: 0;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 75px;
}
.navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: gray;
    }

.navbar a.active {
    color: white;
    font-weight: 750;
    text-shadow: 0.5px 0 0 currentColor;
}

.content {
    margin-top: 120px;
}

.content-home {
    margin-top: 175px;
    height: 80vh;
}

.content-portfolio {
    margin-top: 100px;
    height: 80vh;
}

.logo {
    height: 70px;
}

.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 15px;
}

.column {
    flex-basis: 48%;
}

.text-column {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    height: 100%;
}

.image-column {
    text-align: center;
}

.home-img {
    max-width: 45%;
    height: auto;
    display: block;
    border-radius: 10%;
    margin-left: 75px;
}

.centered-text {
    max-width: 500px;
    padding: 10px;
}

.top-half {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 80vh;
}

.portfolio-blurb {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    max-width: 550px;
    padding: 0%;
}

.bottom-half {
    background: linear-gradient(to bottom,#fafafa, #e0e0e0);
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.resume-content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.resume-image {
    display: flex;
    justify-content: center;

}

.timeline {
    max-width: 500px;
    margin: 0 auto;
}

.timeline-item {
    padding: 10px;
    margin: 15px 0px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}

#second-section {
    padding: 75px 20px;
    background-color: #f9f9f9;
}

.about-me-content {
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.7;
}

.about-me-content h2 {
    border-bottom: 2px solid #333;
}


.resume-desc {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.style-button {
    margin-right: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    margin-left: 10px;
    min-height: 40px;
    min-width: 60px;
    border-radius: 10px;
}

.style-button:hover {
    background-color: #99a3a4;
    transition: .5s;
}

.service-text {
    max-width: 50%;
    margin: auto;
}

.home-welcome {
    font-size: 55px;
}

.home-blurb {
    font-size: 20px;
}

.info-icon {
    height: 50px;
    cursor: pointer;
}

.icon-spacing {
    margin-right: 10px;
}

.portfolio-blurb h1 {
    font-size: 50px;
}

.portfolio-blurb h2 {
    font-weight: 530;
}

.portfolio-blurb h3 {
    font-size: 17px;
    font-weight: 200;
}

.proj-img {
    height: 350px;
    border-radius: 5%;
}

.grid-item p {
    font-weight: bold;
}

.grid-item img {
    max-width: 225px;
}

.download-click {
    max-width: 25px;
}

.resume-desc p {
    max-width: 50%;
    line-height: 1.5;
}

.resume-image img {
    border: 2px solid black;
}

.service-title {
    text-align: center;
}

.timeline-item img {
    width: 200px;
}

.service-text p {
    line-height: 1.5;
}

.down-icon {
    height: 50px;
    cursor: pointer;
}