body {
    background-color: #121212;
    color: lightgray;
    font-family: "Georgia";
}

a {
    color:#962FBF;
}

.navbar {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    padding: 0px 0;
    top: 0;
    left: 0;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 40px;
}
.navbar a{
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #962FBF;
    }

.navbar a.active {
    color: white;
    font-weight: 750;
    text-shadow: 0.5px 0 0 currentColor;
}

.content {
    margin-top: 120px;
}

.content-home {
    margin-top: 175px;
    height: 80vh;
    background-color: #121212;
}

.logo {
    height: 70px;
}

.content-portfolio {
    margin-top: 100px;
    height: 80vh;
}

.portfolio-split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
}

.two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 15px;
}

.column {
    flex-basis: 48%;
}

.text-column {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    height: 100%;
}

.image-column {
    text-align: center;
}

.home-img {
    max-width: 62%;
    height: auto;
    display: block;
    border-radius: 45%;
    margin-left: 75px;
}

.centered-text {
    max-width: 500px;
    padding: 10px;
}

.top-half {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.bottom-half {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 30px;
    background-color: #1b1b1b;
}

.grid-item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.grid-item img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.resume-page {
    display: flex;
    padding: 30px;
}

.resume-content {
    display: flex;
    gap: 20px;
    margin-top: 150px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.resume-image {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.left-resume-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-desc {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.timeline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

.timeline-item {
    background-color: #1f1f1f;
    border: 1px solid gray;
    text-align: center;
    position: relative;
    max-width: 250px;
    padding: 10px 23px;
    border-radius: 17px;
}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 160px;
    left: 0;
    width: 200%;
    height: 2px;
    background-color: gray;
    z-index: -1;
}

.timeline-item:first-child:before {
    left: 100%;
}

.timeline-item:last-child:before {
    right: 100%;
    left: auto;
}

#second-section {
    padding: 110px 20px;
    background-color: #1b1b1b;
}

.about-me-content {
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.7;
    border: 1px solid lightgray;
    padding: 5px 30px;
}

.about-me-content h2 {
    border-bottom: 2px solid #333;
}

.style-button {
    margin-right: 15px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    margin-left: 10px;
    min-height: 40px;
    min-width: 60px;
    border-radius: 10px;
}

.style-button:hover {
    background-color: #962FBF;
    transition: .5s;
}

.service-text {
    max-width: 50%;
    line-height: 1.3;
    margin: auto;
}

.invert-icon {
    filter: invert(1);
}

.home-welcome {
    font-size: 55px;
}

.home-blurb {
    font-size: 20px;
}

.info-icon {
    height: 50px;
    cursor: pointer;
}

.icon-spacing {
    margin-right: 10px;
}

.portfolio-blurb h1 {
    font-size: 50px;
}

.portfolio-blurb h2 {
    font-weight: 500;
}

.portfolio-blurb h3 {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 200;
}

.proj-img {
    height: 350px;
    border-radius: 5%;
}

.grid-item p {
    font-weight: bold;
}

.grid-item img {
    max-width: 200px;
}

.download-click {
    max-width: 25px;
}

.resume-desc p {
    max-width: 65%;
    line-height: 1.5;
}

.service-title {
    text-align: center;
}

.timeline-item img {
    width: 200px;
}